{% extends "base.html" %}
{% load humanize %}

{% block title %}Drug List{% endblock %}
{% block head_title %}{% endblock %}

{% block breadcrumb %}
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Expenses List</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'store:home' %}">Home</a></li>
            <li class="breadcrumb-item active">Expenses List</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
{% endblock %}
{% block mini_header %}
        {% include 'snippets/mini_header.html' %}
{% endblock %}

{% block content %}
<div class="row">

    <div class="col">
      <table class="table table-hover ">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Spent By</th>
            <th scope="col">Amount</th>
            <th scope="col">Date</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for expense in object_list %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{expense.title}}</td>
            <td>{{expense.spent_by}}</td>
            <td><s>N</s>{{expense.amount|intcomma}}</td>
            <td>{{expense.date | date:"Y-m-d"}}</td>
            <td>
              <a href="{% url 'expenses:expense_update' expense.category expense.title expense.pk %}">
                <i class="far fa-edit mr-2"></i></a>
              <a href="{{expense.get_absolute_url}}"><i class="far fa-eye mr-2"></i></a>
              <a href="{% url 'expenses:expense_delete' expense.category expense.title expense.pk %}"><i class="far fa-trash-alt"></i></a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

</div>

{% endblock %}
