{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Drug Detail{% endblock %}
{% block head_title %}{% endblock %}

{% block breadcrumb %}
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Drug Update</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'store:home' %}">Home</a></li>
            <li class="breadcrumb-item active">Drug Update</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
{% endblock %}
{% block mini_header %}
     {% include 'snippets/mini_header.html' %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6 offset-3">
    <h3>Are you sure you want to delete this Drug?</h3>
        <form action="" method="post">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">Confirm</button>
        </form>
  </div>

</div>

{% endblock %}
